<%- include('../partials/header.ejs') %>

<main class="change-password-page">
  <h2 class="change-password-title">Change Password</h2>

  <div class="change-password-box">
    <form action="/auth/change-password?_method=PUT" method="POST" class="change-password-form">

      <input type="password" name="currentPassword" placeholder="Current Password" required class="change-password-input"/>

      <input type="password" name="newPassword" placeholder="New Password" required class="change-password-input" />

      <input type="password" name="confirmPassword" placeholder="Confirm New Password" required class="change-password-input" />

      <button type="submit" class="change-password-button"> Update </button>

    </form>
  </div>
</main>

<%- include('../partials/footer.ejs') %>
