<%- include('../partials/header.ejs') %>

<h2>Log In</h2>
<form action="/auth/log-in" method="POST">
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Log In</button>
</form>

<%- include('../partials/footer.ejs') %>
