<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EstateHub</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" />
<link rel="stylesheet" href="/property.css" />
    <link rel="stylesheet" href="/appointment.css" />
    <link rel="stylesheet" href="/auth.css" />


  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="/" class="logo">EstateHub</a>
      </div>

      <div class="nav-right">
        <% if (!user) { %>
          <a href="/">Home</a>
          <a href="/properties">Browse Properties</a>
          <a href="/auth/sign-up">Sign Up</a>
          <a href="/auth/log-in">Log In</a>

        <% } else if (user.role === "owner") { %>
          <a href="/">Home</a>
          <a href="/properties">Browse Properties</a>
          <a href="/properties/my/listings">My Properties</a>
          <a href="/properties/new">Add Property</a>
          <a href="/appointments/myAppointments">Manage Appointments</a>
          <a href="/users/profile">Profile</a>
          <a href="/auth/sign-out">Log Out</a>

        <% } else if (user.role === "client") { %>
          <a href="/">Home</a>
          <a href="/properties">Browse Properties</a>
          <a href="/appointments/myAppointments">My Appointments</a>
          <a href="/users/profile">Profile</a>
          <a href="/auth/sign-out">Log Out</a>
        <% } %>
      </div>
    </nav>

    <main>
